@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300);

.button,
#hero .button {
  background-color: #222233;
  border-radius: 100em;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 4px 16px;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover,
#hero .button:hover {
  background-color: #27273b;
}

.button:active,
#hero .button:active {
  background-color: #1d1d2b;
}

#features .button {
  padding: 8px 16px;
}

#hero .button {
  padding: 12px 16px;
}

.column {
  float: left;
}

.container:after,
.navigation-items:after {
  clear: both;
  content: "";
  display: table;
}

.section {
  clear: both;
  display: block;
  width: 100%;
}

* {
  background: none;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

*[disabled] {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*[hidden] {
  display: none;
}

template {
  display: none;
}

html {
  font-size: 16px;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

body {
  color: #555566;
  direction: ltr;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444455;
}

h1 {
  line-height: 56px;
  font-size: 55px;
}

h2 {
  line-height: 48px;
  font-size: 42px;
}

h3 {
  line-height: 40px;
  font-size: 34px;
}

h4 {
  line-height: 32px;
  font-size: 26px;
}

h5 {
  line-height: 24px;
  font-size: 21px;
}

h6 {
  line-height: 16px;
  font-size: 16px;
}

figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

hr {
  height: 0;
}

pre {
  white-space: pre-wrap;
}

code,
kbd,
samp {
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
}

sub,
sup {
  font-size: 80%;
  line-height: 0;
}

b {
  font-weight: 900;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

audio,
canvas,
video {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

datalist {
  display: none;
}

.section-title,
.feature-description,
.social-icon,
#header,
#hero {
  -webkit-font-smoothing: antialiased;
}

#hero .button {
  -webkit-font-smoothing: subpixel-antialiased;
}

.brand-image {
  display: block;
  height: 100%;
}

.navigation-item {
  float: left;
}

.navigation-item + .navigation-item {
  margin-left: 8px;
}

.navigation-link {
  color: inherit;
  display: block;
  padding: 12px;
}

.navigation-link:hover {
  color: #33dd99;
}

.section-header {
  text-align: center;
}

.section-title {
  font-size: 55px;
  font-weight: 100;
  letter-spacing: -0.035em;
  line-height: 56px;
  margin-bottom: 96px;
}

.section-subtitle {
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px;
}

.section-leader {
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 auto 80px;
  text-align: center;
  width: 50%;
}

.section-button {
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 24px;
  text-transform: uppercase;
}

.feature {
  text-align: center;
}

.feature-description {
  font-weight: 500;
  margin-bottom: 24px;
}

.social {
  color: #222233;
}

.social-item {
  float: left;
  text-align: center;
}

.social-icon {
  background-color: #222233;
  border-radius: 100em;
  color: white;
  display: block;
  font-size: 32px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto 16px;
  text-align: center;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  width: 80px;
}

.social-link:hover .social-icon {
  background-color: #33dd99;
}

.twitter .social-icon {
  background-color: #00acee;
}

.google-plus .social-icon {
  background-color: #dd4b39;
}

.button-icon {
  display: block;
  float: left;
  font-size: 24px;
  line-height: 24px;
  margin-right: 8px;
}

#header {
  background-color: #222233;
  padding: 32px;
}

#header .brand {
  float: left;
  height: 24px;
  margin: 12px 0;
}

#header .navigation {
  color: white;
  float: right;
}

#hero {
  background-image: -webkit-linear-gradient(315deg, #ff3355 0%, #ff9933 100%);
  background-image: linear-gradient(135deg, #ff3355 0%, #ff9933 100%);
  color: white;
  padding: 128px 0;
  text-align: center;
}

#hero h1 {
  color: inherit;
  font-size: 42px;
  font-weight: 100;
  line-height: 48px;
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

#hero p {
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 48px;
  padding: 0 25%;
}

#hero .button {
  -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.5);
  letter-spacing: 0.1em;
}

#hero .github {
  background-color: #171515;
}

#content .content-container {
  margin: 0 auto;
  max-width: 960px;
}

#content .content-section {
  padding: 64px 0 96px;
}

#features .column {
  padding-left: 20px;
  padding-right: 20px;
  width: 33.33333%;
}

#community {
  background-color: #f7eeeb;
}

#community .section-title {
  margin-bottom: 40px;
}

#community .column {
  padding-left: 24px;
  padding-right: 24px;
  width: 20%;
}

#footer {
  background-color: #222233;
  padding: 96px 0;
}

@viewport {
  width: device-width;
  zoom: 1;
}