.injected {
	display: none;
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5 {
    line-height: 1.2em;
    margin: 30px 0 5px;
    font-family: Georgia;
}

.section h1 {
    font-size: 34px;
}

.section h2 {
    font-size: 30px;
}

.section h3 {
    font-size: 26px;
}

.section h4 {
    font-size: 22px;
}

.section h5 {
    font-size: 16px;
}

.section p {
    margin-bottom: 10px;
    line-height: 20px;
}

main p, main li, main em {
    color: #333;
    font-size: 14px;
    font-weight: normal;
}

.literal, span.pre {
    font-family: monospace;
    background: #dedede;
}

#configuring-tsuru {
    width: 80%;
    margin: 0 auto;
}

#build-your-own-paas-with-tsuru h2,
#deploy-your-application-on-tsuru h2,
#extend-tsuru-building-your-service h2 {
    margin: 0;
}

#build-your-own-paas-with-tsuru em,
#deploy-your-application-on-tsuru em,
#extend-tsuru-building-your-service em {
    font-weight: bold;
}

.highlight {
    margin: 20px 0;
}

.highlight pre {
    background-color: #EEE;
    border-radius: 3px;
    font-family: monospace;
    padding: 10px;
}

.footer {
    margin-top: 50px;
}

a.headerlink {
	color: #000;
	font-size: 60%;
	padding: 0 4px;
	visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
	color: #000;
	visibility: visible;
}

#content ol, #content ul {
	list-style-type: disc;
	padding: 15px;
}

#content a {
	text-decoration: underline;
}

#using-tsuru, #running-tsuru, #extending-tsuru {
	float: left;
	width: 32%;
	margin-left: 2%;
	clear: none;
	margin-bottom: 30px;
}

#using-tsuru {
    margin-left: 0;
}

#using-tsuru h2, #running-tsuru h2, #extending-tsuru h2 {
	background-color: #efefef;
	padding-left: 5px;
    margin-left: -5px;
}

#content .content-container {
	background-color: white;
	float: left;
	padding: 0 20px;
	width: 70%;
}

#content .content-section:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#sidebar {
	float: right;
	background-color: #f7eeeb;
	padding: 0 20px;
}

input {
	border: 1px solid #333;
	background-color: #fff;
}

.navigation {
	padding: 30px 0;
}

.navigation-right {
	float: right;
}
