.section h2 {
    margin: 30px 0;
    font-size: 30.5px;
}

.section h3 {
    font-size: 20.5px;
    margin: 30px 0 5px;
}

.section h4 {
    margin: 30px 0;
}

.section p,
.section em,
.section li {
    font-size: 15px;
    font-weight: normal;
}

#build-your-own-paas-with-tsuru h2,
#deploy-your-application-on-tsuru h2,
#extend-tsuru-building-your-service h2 {
    margin: 0;
}

#build-your-own-paas-with-tsuru em,
#deploy-your-application-on-tsuru em,
#extend-tsuru-building-your-service em {
    font-weight: bold;
}

.highlight {
    margin: 20px 0;
}

.highlight pre {
    background-color: #EEE;
    border-radius: 3px;
    font-family: monospace;
    padding: 10px;
}

.footer {
    margin-top: 50px;
}

a.headerlink {
	color: #000;
	font-size: 60%;
	padding: 0 4px;
	visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
	color: #000;
	visibility: visible;
}

#content ol, #content ul {
	list-style-type: disc;
	padding: 15px;
}

#content a {
	text-decoration: underline;
}
