#documentation h1 {
    border-bottom: 1px #e7e7e7 solid;
    font-size: 31.5px;
    padding: 50px 0;
    text-align: center;
}

#what-is-tsuru h2 {
    margin: 30px 0;
    font-size: 25px;
}

.section p,
#for-tsuru-users .simple em,
#for-tsuru-ops em,
#contributions-and-feedback em {
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: .5px;
}

#build-your-own-paas-with-tsuru {
    margin-top: 30px;
}

#extend-tsuru-building-your-service {
    margin-bottom: 40px;
}

#build-your-own-paas-with-tsuru h2,
#deploy-your-application-on-tsuru h2,
#extend-tsuru-building-your-service h2 {
    font-size: 15px;
    line-height: 18px;
}

#more-documentation {
    margin: 50px 0 0;
}

#more-documentation h3 {
    font-size: 31.5px;
}

#for-tsuru-users h2,
#for-tsuru-ops h2,
#contributions-and-feedback h2 {
    font-size: 25px;
}

#for-tsuru-users,
#for-tsuru-ops {
    margin-bottom: 30px;
}

#contributions-and-feedback {
    margin: 30px 0 60px ;
}

a.headerlink {
	visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
	visibility: visible;
}
