.footer {
	background-color: #e5e5e5;
	height: 63px;
}

.header {
	background: #000 url('../img/tsuru_maps.png') no-repeat fixed -530px -830px;
	color: #fff;
}

.header img {
	margin-top: -15px;
}

.header .main {
	padding: 85px 0;
}

.header h1 {
	font-size: 70px;
	font-weight: normal;
	margin: 0;
}

.header h1 a {
	display: block;
	padding-bottom: 50px;
}

.header a {
	color: #fff;
}

.header p {
	font-size: 25px;
	font-weight: lighter;
}

.thanks h3 {
	font-size: 37px;
	font-weight: normal;
}

.thanks h2 {
	font-size: 15px;
}

.navegation {
	background-color: #171717;
}

.header .navbar-inner {
	background: #171717;
	border: none;
	padding: 13px 0 0;
}

.header .navbar .nav > li > a {
	color: #fff;
	text-shadow: none;
	font-weight: lighter;
}

.header .navbar .nav > li {
	padding-right: 25px;
}

.content {
	margin-bottom: 30px;
}

.about {
	margin-top: 40px;
	margin-bottom: 40px;
}

#index .title {
	font-size: 24px;
	font-weight: 500;
}

#index p {
	font-size: 13px;
	font-weight: lighter;
	letter-spacing: .5px;
}

.content .title {
	text-align: center;
	margin-bottom: 30px;
}

.content p {
	font-size: 13px;
	font-weight: lighter;
	letter-spacing: .5px;
}

#index .community {
	padding: 30px 0 70px;
	background-color: #EEEEEE;
}

#index .community ul {
	list-style: none;
	margin: 0;
}

#index .community li {
	background-color: #333333;
	color: #FFFFFF;
	height: 160px;
	width: 180px;
	text-align: center;
	float: left;
	margin-right: 73px;
}

#index .community h3 {
	font-weight: normal;
	font-size: 18px;
}

#index .community a {
	color: #fff;
	display: block;
	height: 100%;
	width: 100%;
}

#index .community a:hover .social {
	color: #fff;
}

#index .community a .social {
	display: block;
	font-weight: normal;
	font-size: 18px;
	line-height: 40px;
	margin: 10px 0;
}

#index .community a span {
	font-size: 13px;
	font-weight: lighter;
	letter-spacing: .5px;
}

#index .community a:hover {
	color: #ccc;
}
#index .community li:last-child {
	margin-right: 0;
}

.community .title {
	text-align: center;
	margin-bottom: 40px;
}

.community .email p {
	text-align: left;
	margin-left: 30px;
	line-height: 8px;
}

.community .span2 > h3 {
	font-size: 18px;
	font-weight: 500;
}

.content .msg {
	border-bottom: 1px solid #e7e7e7;
	margin: 30px;
	padding-bottom: 30px;
}

.content .legal-note {
	font-size: 10px;
	font-weight: lighter;
	font-style: italic;
}

.thanks .share-btns {
	list-style: none;
	margin: 0;
}

.thanks .share-btns li {
	display: inline;
}

.content form label {
	font-weight: lighter;
	font-size: 13px;
}

.content input {
	border: 1px solid #ccc;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	height: 26px;
}

input[type=submit] {
	background-color: #000;
	color: #fff;
	border: none;
	font-weight: lighter;
	font-size: 13px;
	padding: 6px 22px;
	height: 32px;
}

.content .or {
	background: url(../img/or_bg.png) no-repeat 0 8px;
	height: 300px;
}

.content .login-btns ul {
	margin-left: 42px;
	list-style: none;
}

.content .login-btns ul li {
	margin: 15px 0 64px;
}

.content .login-form .input-medium {
	width: 135px;
}

.content .login-form .input-xlarge {
	width: 295px;
}

.content .login-btns span {
	cursor: pointer;
}

.header .navbar .nav > li > a.active {
	font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.footer .span12 {
	font-size: 13px;
	font-weight: lighter;
	letter-spacing: .5px;
	margin-top: 20px;
}

.navbar {
	float: left;
}

.language-select {
	float: right;
	color: #fff;
	margin: 23px 0;
}

.language-select a {
	color: #fff;
	font-weight: lighter;
	padding: 10px 15px;
}

.language-select a.active {
	font-weight: bold;
}

.documentation {
	margin: 70px 0 90px;
}

.documentation .title {
	text-align: center;
	margin-bottom: 35px;
}

.documentation .span4 {
	text-align: center
}

.documentation a {
	color: #9a9a9a;
}

.documentation a:hover {
	color: #666;
}

.documentation h3 {
	font-size: 18px;
	font-weight: normal;
}

.more {
	color: #e7e7e7;
	background-color: #707070;
	height: 90px;
}

.more h2 {
	font-size: 22px;
	float: left;
	font-weight: normal;
	line-height: 70px;
}

.more a {
	font-size: 18px;
	font-weight: normal;
	color: #e7e7e7;
}

.more a:hover {
	color: #fff;
}

.more ul {
	margin: 0;
	list-style: none;
}

.more li {
	line-height: 93px;
	float: left;
	padding: 0 35px 0 70px;
}

.more .contribution {
	background: url(/static/img/contribuition.png) no-repeat -2px 24px;
	padding-left: 40px;
}

.more .ops {
	background: url(/static/img/ops.png) no-repeat 26px 24px;
}

.more .users {
	background: url(/static/img/user.png) no-repeat 32px 24px;
}
